*::before,
*::after {
    box-sizing: border-box;

}
*{
    margin: 0;
    padding: 0;
}
:root{
    --font-family: "Poppins", sans-serif;
    --font-description: "Preahvihear", sans-serif;
    --bg-color: #11071f;
    --detail-color: #1A0B2E;
    --text-color-primary: #fff;
    --text-color-secondary: #9857D3;
    --fs-base: 0.625rem;   /*18px*/
    --fs-sm: 1rem; /* 16px */

}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
    color: var(--text-color-primary);
    font-family: var(--font-description);
}
a{
    text-decoration: none;
    color:var(--text-color-primary);
}

@media (width <= 80em){
    .display-none{
        display: none;
    }
     body{
        margin-inline: 2rem;
     }
     section#landpage{
        flex-direction: column;
          width: 90%;
          margin: 2rem;
       
        & h1, p{
        font-size: 16px;
    }
     & h2{
         font-size: 1rem;
       
    }
     }
}
